VITE_API_BASE_URL=https://backend-production-6e50.up.railway.app/canim_ecommerce
VITE_STOREFRONT_URL=https://canim-shop.netlify.app
VITE_ADMIN_URL=https://admin-frontend-production-9153.up.railway.app